@charset "UTF-8";

/* This is the certifications css file V1 */

.certifications article h1 {
    font-size: 2.4rem;
    color: #f69679;
    padding: 0 0 .8rem 3rem;
    border-bottom: 1rem solid #efefef;
}

.certifications article {
    margin-bottom: 4rem;
}

.certifications article p {
    margin: 1rem 0;
    line-height: 1.4;
}

.certifications article a {
    display: inline-block;
    color: #0054a6;
    text-decoration: none;
}

.certifications article img {
    margin-top: 1rem;
}

.certifications article a:hover,
.certifications article a:focus,
.certifications article a:active {
    color: #f69679;
}