@charset "UTF-8";

/* This is the footer css file V1 */

footer {
	margin-top: 5rem;
	text-align: center;
	background: #d7d7d7;
}

footer ul {
	margin: 0 auto;
	width: 96rem;
	/* box-sizing: border-box; */
	height: 10rem;
}

footer li {
	list-style-type: none;
}

footer a {
	margin-right: 4.4rem;
	float: left;
	font-size: 1.8rem;
	line-height: 10rem;
	color: #3a3a3a;
	text-decoration: none;
}

.clearfix {
  content: " ";
  display: table;
  clear: both;
}


